// colors

$primary-color: #ff9800;
$weak-primary-color: rgba(255, 152, 0, 0.6);
$text-color: #333333;
$weak-color: #aaaaaa;
$primary-background-color: #ffffff;
$secondary-background-color: #f6f6f6;
$navigation-background-color: rgba(30, 40, 44, 0.9);
